@font-face {
  font-family: amp;
  src: url(amp.ttf);
}
.center {
  margin: auto;
}
.main {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 70px;
  background-color: #DAEDBD;
  width: 90%;
  margin: auto;
}
.icon {
  width: 60px;
  height: 60px;
  vertical-align: text-bottom;
}
body {
  background-color: #47624f;
  font-family: amp;
  font-size: 30px;
}
h1 {
  color: #2b3b30;
}
p {
  color: red;
}
header {
  padding: 0.02px ;
  text-align: center;
  border-radius: 70px;
  background-color: #DAEDBD;
  width: 360px;
}
